<<<<<<< HEAD
<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<body>
  <ul>
    <li>Home</li>
    <li>List of Events</li>
    <li>Add Event</li>
    <li>Delete Event</li>
    <li>Sign In</li>

  </ul>
  <h1 style="text-align: center">Event Mapper</h1><br>
  <p>Welcome to Event Mapper. Your home for protests, boycotts, and more across the Pacific Northwest</p><br>
  <p>Today's featured events:</p>
</body>
=======
<div class="container">
  <h1>Event Mapper</h1>
  <p>This is a test page.</p>

</div>
<p><a href="/events">Events</a></p>
>>>>>>> api-intergration/event-pages
