<!--
This is your User Page.
This page will allow the User to view/edit their information
and view events the User has RSVP'ed to. 
-->
<body>
  <!-- User Info (hard coded pull)-->
  <div> 
    <h1>User Name</h1>
    <img src="#"/>
    <p>
      <span>Email:</span> 
      <span>Phone Number:</span>
      <a href="/">Edit User Details</a>
    </p>
  </div>

  <!-- User's Events -->
  <div>
    <h2>Events you have joined:</h2>

    <img src="#"/>
    <p>
      <h3>Event Details</h3>
      <span>Name:</span> 
      <span>Location:</span>
      <span>Date & Time:</span>
      <span>Description:</span>
      <span>Event webpage:</span>
    </p>
  </div>

  <!-- Return Home -->
  <a href="/">Return Home</a>
</body>
